{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org on ' ~ package %}

{% block content %}
<div class="item item-blue">
    <div class="content">
    <div class="page-header">
        <h1>contribute to<br />{{package}}<br /><small>Pick one of the points of the categories listed below.</small></h1>
    </div>
    
    {% for name, data in categories.getCategories() %}
    {% if is_granted(data.access) %}
        <div class="row-fluid">
            <div class="span12">
                <h2>{{name | trans}}</h2>
                <p class="text-info">{{data.description | trans}}</p>
                <ul class="unstyled">
                {% for group, groupdata in categories.getGroups(name) %}
                    <li>
                        <i class="icon icon-arrow-right"></i>
                        {{ (group) | trans}} ({{ package.getMetaInfos(name, group).count }})
                        <a href="/contribute/{{package.identifier}}/{{group}}">{{groupdata.description | trans}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% endfor %}
                
    </div>
</div>
{% endblock %}
