{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}

    <div class="hero-unit">
        <h1>metagist.org</h1>
        <p>PHP open source stuff.</p>
    </div>

    <div class="row-fluid">
        
        <div class="span6 well">
            <h2>Latest Updates</h2>
            <ul class="unstyled">
                {% for metainfo in latest %}
                    <li class="{{ metainfo.getCategory ~ '_' ~ metainfo.getGroup }}">
                        <a href="/package/{{ metainfo.getPackage.getIdentifier|e }}">{{ metainfo.getPackage.getIdentifier|e }}</a>
                        <strong>{{ (metainfo.getCategory ~ '_' ~ metainfo.getGroup)|trans }}:</strong>  {{ metainfo.getValue |e }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="span6 well">
            <h2><i class="icon-bolt"></i> Featured</h2>
            <ul class="unstyled">
            {% for metainfo in featured %}
                <li class="{{ metainfo.getCategory ~ '_' ~ metainfo.getGroup }}"><i class="icon-li icon-ok"></i>
                    <a href="/package/{{ metainfo.getPackage.getIdentifier|e }}">{{ metainfo.getPackage.getIdentifier|e }}</a>
                    <p>{{ metainfo.value|e }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
