{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}

    <div class="hero-unit">
        <h1>metagist.org</h1>
        <p>What you need to know about PHP packages.</p>
        <form action="/search" method="post" class="form-search">
            <input type="text" class="input-medium search-query" name="query">
            <button type="submit" class="btn">Search a package</button>
        </form>
    </div>

    <div class="row-fluid">
        
        <div class="span6">
            <h2>{{ "Featured Packages" | trans }}</h2>
            <ul class="unstyled">
            {% for metainfo in featured %}
                <li class="{{ metainfo.getGroup }}">
                    <h3>
                        <a href="/package/{{ metainfo.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ metainfo.getPackage|e }}</a>
                    </h3>
                    
                    <p>{{ metainfo.value|e }}</p>
                </li>
            {% endfor %}
            </ul>
            
            <h2>Best Rated</h2>
            <ul class="unstyled">
                {% for rating in best %}
                    <li>
                        <h3>{% for i in 1..rating.rating %}<i class="icon icon-star"></i>{% endfor %}
                        <a href="/package/{{ rating.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ rating.getPackage|e }}</a>
                        </h3>
                        <p>
                        {{ rating.getPackage.getDescription|e }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
            
            {% if latestRating %}
            <h2>Latest Rating</h2>
            <h3>
                {% for i in 1..latestRating.rating %}<i class="icon icon-star"></i>{% endfor %} for {{ latestRating.getPackage|e }}
            </h3>
            {{ latestRating.getUser }} on <a href="/package/{{ latestRating.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ latestRating.getPackage|e }}</a>
            
            <div class="pull-left"><img src="{{ latestRating.getUser.getAvatarUrl }}" alt="{{ latestRating.getUser }}" /></div>
            <p>
                <i class="icon icon-quote-left"></i> <em>{{ latestRating.getComment|e }}</em> <i class="icon icon-quote-right"></i>
            </p>
            {% endif %}
        </div>
        
        <div class="span6">
            <h2>Latest Updates</h2>
            <ul class="unstyled">
                {% for metainfo in latest %}
                    <li class="{{ metainfo.getGroup }}">
                        <strong>{{ icon(metainfo.getGroup) }} {{ (metainfo.getGroup)|trans }}:</strong>  {{ renderInfo(metainfo) }}
                        <a href="/package/{{ metainfo.getPackage.getIdentifier|e }}" title="{{ metainfo.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ metainfo.getPackage }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
{% endblock %}