{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org - Latest updates' %}

{% block content %}
<div class="item item-yellow">
    <div class="content">
        <div class="span6">
        {% if latestRatings %}
            {% for latestRating in latestRatings %}
            <h2>Latest Ratings</h2>

            <div class="row-fluid">
                <div class="span2 text-center">
                    <img src="{{ latestRating.getUser.getAvatarUrl }}" alt="{{ latestRating.getUser }}" /><br />
                {{ latestRating.getUser }}
                </div>
                <div class="span10">
                    <p>
                        {{ stars(latestRating.rating) }} for <a href="/package/{{ latestRating.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ latestRating.getPackage|e }}</a><br />
                        <i class="icon icon-quote-left"></i>
                        <em>{{ latestRating.getComment|e }}</em> 
                        <i class="icon icon-quote-right"></i>
                    </p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        
        <div class="span6">
            <h2>Latest Updates</h2>
            <ul class="unstyled">
                {% for metainfo in latestUpdates %}
                    <li class="{{ metainfo.getGroup }}">
                        <strong>{{ icon(metainfo.getGroup) }} {{ (metainfo.getGroup)|trans }}:</strong>  {{ renderInfo(metainfo) }}
                        <a href="/package/{{ metainfo.getPackage.getIdentifier|e }}" title="{{ metainfo.getPackage.getIdentifier|e }}"><i class="icon icon-arrow-right"></i> {{ metainfo.getPackage }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
            <div class="clearfix"></div>
    </div>
    </div>
</div>
        
    
{% endblock %}