{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org on ' ~ package %}

{% block content %}

    <div class="hero-unit">
        <h1>metagist on:<br />{{package}}</h1>
        <p>{{package.description}}</p>
        
        <br />
        {% set homepageInfo = package.getMetaInfos('community', 'homepage').first %}
        {% if homepageInfo %}
        <a class="btn btn-primary" href="{{ homepageInfo.getValue }}"><i class="icon-white icon-home"></i> Homepage</a>
        {% endif %}
        <a class="btn btn-success" href="http://packagist.org/packages/{{package.identifier}}"><i class="icon-white icon-external-link-sign"></i> @Packagist</a>
        {% if (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) %}
            <a class="btn" href="/rate/{{package.identifier}}"><i class="icon-white icon-star"></i> Rate this package</a>
            <a class="btn" href="/contribute/list/{{package.identifier}}"><i class="icon-pencil"></i> Contribute</a>
        {% else %}
            <a class="btn" href="{{ path('login') }}"><i class="icon-white icon-key"></i> {{ 'Sign in to rate and contribute'|trans }}</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning" href="/update/{{package.identifier}}"><i class="icon-refresh"></i> Update</a>
        {% endif %}
        
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ "Latest Reviews" |trans}}</h2>
            <ul class="unstyled">
            {% for rating in ratings %}
                <li>
                    {% for i in 1..rating.rating %}<i class="icon icon-star"></i>{% endfor %}
                    <a href="/ratings/{{package.getIdentifier}}">{{rating.title}} by {{rating.getUser}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% for name, data in categories.getCategories() %}
    {% if loop.index0 is even %}
    <div class="row-fluid">
    {% endif %}
        <div class="span6">
            <h2 title="{{data.description}}">{{name | trans}}</h2>
            {% for group, groupdata in categories.getGroups(name) %}
                {% if (groupdata.access == 'ROLE_ADMIN' and is_granted(groupdata.access)) or groupdata.access != 'ROLE_ADMIN' %}
                    {% set infos = package.getMetaInfos(name, group)%}
                        <dl class="dl-horizontal">
                             <dt title="{{groupdata.description}}">{{ icon(name ~ '/' ~ group) }} {{ (name ~ '_' ~ group) | trans}}</dt>
                             {% if infos.count %}
                                <dd>{{ renderInfos(infos) }}</dd>
                             {% else %}
                                <dd><span class="text-warning">Contribution required</span></dd>
                             {% endif %}
                        </dl>
                {% endif %}
            {% endfor %}
        </div>
    {% if  loop.index0 is not even %}
    </div>
    {% endif %}
    {% endfor %}
    </div>
    <span class="small muted">Last update: {{ package.getTimeUpdated }}</span>
{% endblock %}
