{% extends 'layout.html.twig' %}

{% block content %}

    <h1>metagist on: {{package}}</h1>

    {% for name, data in categories.getCategories() %}
    <div class="block">
        <h2>{{name}}</h2>
        <p class="text-info">{{data.description}}</p>
        {% for group, groupdata in categories.getGroups(name) %}
            <h3>{{group}}</h3>
            <p class="text-info">{{groupdata.description}}</p>
        {% endfor %}
    </div>
    {% endfor %}
                
{% endblock %}
