{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org on ' ~ package %}

{% block content %}

    <div class="hero-unit">
        <h1>metagist on:<br />{{package}}</h1>
        <p>{{package.description}}</p>
        <br />
        <a class="btn btn-success" href="http://packagist.org/packages/{{package.identifier}}"><i class="icon-white icon-eject"></i> Go to Packagist</a>
        {% if (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) %}
            <a class="btn btn-primary" href="/rate/{{package.identifier}}"><i class="icon-white icon-star"></i> Rate this package</a>
            <a class="btn" href="/contribute-list/{{package.identifier}}"><i class="icon-pencil"></i> Contribute</a>
        {% else %}
            <a class="btn" href="{{ path('login') }}"><i class="icon-white icon-key"></i> {{ 'Sign in to rate and contribute'|trans }}</a>
        {% endif %}
        
    </div>
    
    {% for name, data in categories.getCategories() %}
    {% if loop.index0 is even %}
    <div class="row-fluid">
    {% endif %}
        <div class="block span6">
            <h2 title="{{data.description}}">{{name | trans}}</h2>
            {% for group, groupdata in categories.getGroups(name) %}
                {% set infos = package.getMetaInfos(name, group)%}
                {% if infos.count %}
                    <h3 title="{{groupdata.description}}">{{ (name ~ '_' ~ group) | trans}}</h3>
                    {% for info in infos %}
                        {{ info.getValue }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% if  loop.index0 is not even %}
    </div>
    {% endif %}
    {% endfor %}
                
{% endblock %}
